body{
    margin: 0;
}

.all{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundPic{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: -1;
    background-image: url(street.jpeg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

input[type=text]{
    width: 240px;
    height: 48px;
    top: 349px;
    left: 387px;
    padding: 12px;
    border-radius: 8px;
    border: 1px;
    margin-bottom: 10px;
}

input[type=submit]{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    display: flex;
    width: 328px;
    height: 47px;
    border-radius: 5px;
    border: 0px;
    background: #5D6231;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
}

select {
    border: 0px;
    outline: none;
    font-family: PingFang TC;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #8E8E8E;
    width: 250px;
    color: black;
    background-color: white;
    border-radius: 0%;
    margin-top:10px;
}

.indexTitle{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.inputInfo {
    display: flex;
    justify-content: center;
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    color: white;
}

.btn{
    display: flex;
    justify-content: center;
}

.drop{
    padding-top:25px;
    padding-bottom: 25px;
}

.spotRankings button{
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    font-family: sans-serif;
}

.addy1 button:hover{
    background-color: #5c0606;
    color:  lightgrey;
    font-size: 20px;
    font-family: sans-serif;
    transition-duration: 0.2s;
}
.addy2 button:hover{
    background-color: #215227;
    color:  lightgrey;
    font-size: 20px;
    font-family: sans-serif;
    transition-duration: 0.2s;
}
.addy3 button:hover{
    background-color: #06195c;
    color:  lightgrey;
    font-size: 20px;
    font-family: sans-serif;
    transition-duration: 0.2s;
}
.addy4 button:hover{
    background-color: #a38908;
    color:  lightgrey;
    font-size: 20px;
    font-family: sans-serif;
    transition-duration: 0.2s;
}
.addy5 button:hover{
    background-color: #57078c;
    color:  lightgrey;
    font-size: 20px;
    font-family: sans-serif;
    transition-duration: 0.2s;
}

.tryNew {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    display: flex;
    width: 328px;
    height: 47px;
    border-radius: 5px;
    border: 0px;
    background: #5D6231;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.hidden{
    display: none;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.right{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.everything {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.big{
    display: flex;
    text-align: center;
}

.but{
    display: flex;
    justify-content: center;
}